<!--
  Generated template for the CashboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Kassenterminal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label stacked>Betrag</ion-label>
                <ion-input type="text" [(ngModel)]="amount"></ion-input>
            </ion-item>
            <button ion-item (click)="useCoupon()">
                Coupon von Kunde einlösen
            </button>
            <button ion-item (click)="removeCoupon()" *ngIf="refund">
                Coupon löschen
            </button>
            <button ion-item (click)="generateQrCode()" *ngIf="amount">Kassenzettel erstellen</button>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="qrCodeData" text-center>
        <ion-grid class="bill">
            <ion-row>
                <ion-col col-12><h1>KAUFLAND</h1></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 text-left class="category">Schreibwaren</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8 text-left>Tragetasche</ion-col>
                <ion-col col-4 text-right>{{ 2 | currency:'EUR'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 text-left class="category">Wein / Sekt / Spirituosen</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8 text-left>{{ amount - 2 }} x Superduper Wein</ion-col>
                <ion-col col-4 text-right>{{ amount - 2 | currency:'EUR'}}</ion-col>
            </ion-row>
            <ion-row *ngIf="refund">
                <ion-col col-8 text-left>Pfanne</ion-col>
                <ion-col col-4 text-right>{{ 60 | currency:"EUR" }}</ion-col>
            </ion-row>
            <ion-row *ngIf="refund">
                <ion-col col-8 text-left>Treuebonus</ion-col>
                <ion-col col-4 text-right>{{ -refund | currency:'EUR' }}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <hr/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8 text-left><h2>Summe</h2></ion-col>
                <ion-col col-4 text-right *ngIf="!refund"><h2>{{ amount | currency:'EUR' }}</h2></ion-col>
                <ion-col col-4 text-right *ngIf="refund"><h2>{{ amount - refund + 60 | currency:'EUR' }}</h2></ion-col>
            </ion-row>
            <qr-code [value]="qrCodeData" [size]="200" [backgroundAlpha]="0"></qr-code>
        </ion-grid>
    </ion-card>
</ion-content>
